.ncbtn
{
  width: max-content;
  display: inline-block;
  color: white;
  background-color: grey;
  padding-left: 2rem; /* Left(0.75) and Right(1.25) Padding */
  padding-right: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.4rem; /* rounded buttons */
  cursor: pointer;
  font-size: 1rem;
}
.ncbtn:hover
{
  cursor: not-allowed;
}