.profile_box
{
    border-radius : 1rem;
    padding: 0.5rem;
    margin: 1%;
    width: 98%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.95);
}
.details
{
    text-align: left;
    padding-left: 30%;
}


.details_input, .details_input_large
{
    width: 50%;
    font-weight: 450;
    font-size: medium;
    border-radius: 2rem;
    padding: 0.75%;
    padding-left: 1.5%;
    border: 1px solid black;
}
.details_input_large
{
    padding-top: 1%;
    border-radius: 1rem;
}
.details_input:hover
{
    border: 1px solid var(--neon_blue);

}


.btn
{
  width: max-content;
  display: inline-block;
  color: white;
  background-color: black;
  padding-left: 2rem; /* Left(0.75) and Right(1.25) Padding */
  padding-right: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.4rem; /* rounded buttons */
  cursor: pointer;
  font-size: 1rem;
}
.btn:hover
{
  background-color: var(--neon_blue);
  color: white;     
}


.ErrorMsg
{
    color: red;
}

.SuccessMsg
{
    color: green;
}
